@use '../styles/abstracts' as a;

.container {
	margin: 0 10%;
	opacity: 0;
	transform: translateY(+15%);

	h2 {
		color: a.$primary-color;
		font-family: a.$font-semibold;
		font-size: 1.25rem;
	}
	h2 span {
		color: a.$secondary-color;
	}
	.content {
		margin-top: 1rem;
		color: a.$primary-color;
		font-family: a.$font-regular;

		.text {
			opacity: 0;
			transform: translateY(+25%);

			p,
			ul {
				font-size: 0.8rem;
				line-height: 1.2rem;
			}
			ul {
				margin: 1rem;
				display: grid;
				list-style: circle;
				grid-template-columns: repeat(2, 7rem);
				column-gap: 1rem;
			}
			li {
				color: a.$secondary-color;
			}
			li span {
				color: a.$primary-color;
			}
		}
		.textAnimated {
			animation: fade-in a.$text-load-time ease-out forwards;
		}
	}
	.profile {
		width: 12rem;
		height: 12rem;
		display: block;
		margin: 2rem auto;
	}
}

.containerAnimated {
	animation: fade-in a.$text-load-time ease-out forwards;
}
/* extra small  */

@media screen and (min-width: 320px) {
	.container {
		h2 {
			font-size: 1.3rem;
		}
		.content {
			.text {
				p,
				ul {
					font-size: 0.9rem;
					line-height: 1.3rem;
				}
			}
		}
	}
}
/* small  */

@media screen and (min-width: 576px) {
	.container {
		h2 {
			font-size: 1.4rem;
		}
		.content {
			.text {
				padding-top: 1rem;
				p,
				ul {
					font-size: 1rem;
					line-height: 1.5rem;
				}
				ul {
					grid-template-columns: repeat(3, 7rem);
				}
			}
		}
		.profile {
			width: 13rem;
			height: 13rem;
		}
	}
}

/* medium */

@media screen and (min-width: 768px) {
	.container {
		h2 {
			font-size: 1.5rem;
		}
		.content {
			margin-top: 1rem;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			.text {
				max-width: 60%;
			}
		}
		.profile {
			width: 14rem;
			height: 14rem;
			margin: 0;
		}
	}
}

/* large */

@media screen and (min-width: 992px) {
	.container {
		h2 {
			font-size: 1.6rem;
		}
		.content {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
		}
		.profile {
			width: 16rem;
			height: 16rem;
			margin-left: auto;
		}
	}
}

/* extra large */

@media screen and (min-width: 1200px) {
	.container {
		margin: 0 10%;
		h2 {
			font-size: 1.7rem;
		}
		.content {
			padding-top: 2rem;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;

			.text {
				max-width: 50%;
			}
		}
		.profile {
			width: 22rem;
			height: 22rem;
			margin: auto;
		}
	}
}

/* eXXtra large */
@media screen and (min-width: 1600px) {
	.container {
		margin: 0 10%;
		h2 {
			font-size: 1.7rem;
		}
		.content {
			padding-top: 3rem;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;

			.text {
				max-width: 50%;
			}
		}
		.profile {
			width: 22rem;
			height: 22rem;
			margin: auto;
		}
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(+15%);
		filter: blur(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		filter: blur(0rem);
	}
}
