@use '../styles/abstracts' as a;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	opacity: 0;
	transform: translateY(+15%);
	gap: 1.4rem;

	h3 {
		padding-top: 2rem;
		color: a.$primary-color;
		font-family: a.$font-bold;
		font-size: 0.9rem;
	}
	p {
		text-align: center;
		color: a.$primary-color;
		font-family: a.$font-regular;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	.description {
		display: none;
	}
	.descriptionOnHover {
		display: none;
	}
	.bibliotech {
		width: 17rem;
		height: auto;
	}
	.icons {
		color: a.$secondary-color;
		font-size: 1.2rem;
		display: flex;
		gap: 0.3rem;
	}
	.buttons {
		display: flex;
	}
}

.containerAnimated {
	animation: fade-in a.$text-load-time ease-out forwards;
}

@media screen and (min-width: 320px) {
	.container {
		h3 {
			font-size: 1rem;
		}
		p {
			font-size: 0.9rem;
			line-height: 1.3rem;
		}

		.icons {
			font-size: 1.3rem;
			gap: 0.6rem;
		}
	}
}

@media screen and (min-width: 576px) {
	.container {
		margin-top: 3rem;
		h3 {
			font-size: 1.1rem;
		}
		p {
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.projectDescription {
			max-width: 80%;
		}
		.icons {
			font-size: 1.4rem;
			gap: 0.8rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.container {
		margin-top: 4rem;
		h3 {
			font-size: 1.3rem;
		}
		.bibliotech {
			width: 20rem;
			height: auto;
		}
		.icons {
			font-size: 1.4rem;
			gap: 0.9rem;
		}
	}
}

@media screen and (min-width: 992px) {
	.container {
		margin-top: 3rem;
		gap: 2rem;
		h3 {
			font-size: 1.4rem;
		}
		p {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
		.bibliotech {
			width: 16rem;
			height: auto;
		}
		.icons {
			gap: 0.9rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.container {
		margin-top: 2rem;
		h3 {
			font-size: 1.5rem;
		}
		.projectDescription {
			display: none;
		}
		.description {
			display: none;
		}
		.descriptionOnHover {
			display: contents;

			.projectDescriptionOverlay {
				position: absolute;
				background-color: rgba(0, 0, 0, 0.8);
				width: 25rem;
				height: 17.9rem;
				bottom: 3.6rem;
				border-radius: 0.625rem;
				box-shadow: 1px 1px 20px a.$secondary-color;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
			.projectDescriptionOverlay:hover {
				opacity: 1;
			}
		}
		.bibliotech {
			width: 17.5rem;
			height: auto;
		}
		.icons {
			font-size: 1.7rem;
		}
		.buttons {
			display: none;
		}
	}
}

@media screen and (min-width: 1440px) {
	.container {
		.descriptionOnHover {
			.projectDescriptionOverlay {
				width: 28rem;
				height: 20rem;
			}
		}
		.bibliotech {
			width: 19.5rem;
			height: auto;
		}
	}
}

@media screen and (min-width: 1920px) {
	.container {
		.descriptionOnHover {
			.projectDescriptionOverlay {
				width: 32rem;
				height: 22.9rem;
				bottom: 3.8rem;
			}
		}
		.bibliotech {
			width: 22.2rem;
			height: auto;
		}
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(+15%);
		filter: blur(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		filter: blur(0rem);
	}
}
