@use '../styles/abstracts' as a;

.name,
.email,
.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem 0;
	label {
		margin-bottom: 0.3rem;
		font-family: a.$font-semibold;
	}
	input,
	textarea {
		width: 100%;
		padding: 0.6rem;
		border: 2px solid a.$primary-color;
		border-radius: 0.3rem;
		font-family: a.$font-regular;
	}
	textarea {
		min-height: 6rem;
	}
	input:focus,
	textarea:focus {
		outline: none;
		border: 2px solid a.$secondary-color;
		border-radius: 0.3rem;
		box-shadow: 0px 1px 5px a.$secondary-color;
	}
}

.submitButton {
	color: a.$primary-color;
	background-color: a.$bg-color;
	padding: 0.8rem 5.2rem;
	margin: 0.5rem 0;
	border: 1px solid a.$primary-color;
	border-radius: 0.3rem;
	font-family: a.$font-semibold;
	font-size: 0.875rem;
	cursor: pointer;
	&:hover {
		color: a.$bg-color;
		border: 1px solid a.$secondary-color;
		background: a.$secondary-color;
		transition: all 0.3s ease-in;
	}
}
