@font-face {
	font-family: 'Satisfy-Regular';
	src: url('../public/fonts/satisfy-regular.woff2') format('woff2'),
		url('../public/fonts/satisfy-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: local('OpenSans-Light'),
		url('../public/fonts/OpenSans-Light.ttf') format('ttf'),
		url('../public/fonts/OpenSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: local('OpenSans-Regular'),
		url('../public/fonts/OpenSans-Regular.ttf') format('ttf'),
		url('../public/fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-SemiBold';
	src: local('OpenSans-SemiBold'),
		url('../public/fonts/OpenSans-SemiBold.ttf') format('ttf')
			url('../public/fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: local('OpenSans-Bold'),
		url('../public/fonts/OpenSans-Bold.ttf') format('ttf'),
		url('../public/fonts/OpenSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #272f3a;
}

html,
body,
ul,
p,
h1,
h2,
h3,
hr {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
