@import '../styles/variables.scss';

.header {
	height: 100vh;
	background-color: $bg-color;

	.text {
		color: $primary-color;
		padding-top: 15rem;
		margin: 0 10%;
		font-family: 'OpenSans-Light';
		font-size: 1rem;
	}
	.text span {
		color: $secondary-color;
	}
	.text h1 {
		padding-top: 1.8rem;
		font-size: 1.3rem;
		font-family: 'OpenSans-Regular';
		line-height: 1.8rem;
	}
	.text h1 span {
		color: $secondary-color;
		font-family: 'OpenSans-Bold';
	}
}
