@use '../styles/abstracts' as a;

.header {
	height: 100vh;

	.text {
		color: a.$primary-color;
		margin: 0 10%;
		font-family: a.$font-light;
		font-size: 1rem;
		position: absolute;
		top: 45%;
		transform: translateY(-50%);
	}
	.text span {
		color: a.$secondary-color;
	}
	.text h1 {
		padding-top: 1.8rem;
		font-size: 1.3rem;
		font-family: a.$font-regular;
		line-height: 1.8rem;
	}
	.text h1 span {
		color: a.$secondary-color;
		font-family: a.$font-bold;
	}
}
