@use '../styles/abstracts' as a;

.nav {
	background-color: a.$bg-color;
	max-width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 9.6vh;
		margin: 0 10%;

		.logo {
			font-family: 'Satisfy-Regular';
			color: a.$secondary-color;
			font-size: 1.25rem;
		}

		.icons {
			font-size: 1.5rem;
			display: flex;
			gap: 1.5rem;
		}

		.logo,
		.icons {
			height: 1.5rem;
		}

		.dot,
		.icons {
			color: a.$primary-color;
		}
	}
}

/* extra large */

@media screen and (min-width: 1200px) {
	.nav {
		.container {
			.logo {
				font-size: 1.5rem;
			}
			.icons {
				font-size: 1.7rem;
			}
		}
	}
}
