@use '../styles/abstracts' as a;

.container {
	margin: 5rem 10%;

	.heading {
		opacity: 0;
		transform: translateY(+15%);
		color: a.$primary-color;
		font-family: 'OpenSans-SemiBold';
		font-size: 1.25rem;
	}
	.heading span {
		color: a.$secondary-color;
	}
}
.headingAnimated {
	animation: fade-in a.$text-load-time ease-out forwards;
}

/* extra small  */

@media screen and (min-width: 320px) {
	.container {
		.heading {
			font-size: 1.3rem;
		}
	}
}
/* small  */

@media screen and (min-width: 576px) {
	.container {
		.heading {
			font-size: 1.4rem;
		}
	}
}
/* medium */

@media screen and (min-width: 768px) {
	.container {
		.heading {
			font-size: 1.5rem;
		}
	}
}

/* large */

@media screen and (min-width: 992px) {
	.container {
		margin-top: 10rem;
		.heading {
			font-size: 1.6rem;
		}
		.projectsContainer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
		}
	}
}

/* extra large */

@media screen and (min-width: 1200px) {
	.container {
		margin-top: 15rem;
		.heading {
			font-size: 1.7rem;
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(+15%);
		filter: blur(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		filter: blur(0rem);
	}
}
